.App {
  background-color: #282c34;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.alert {
  position: fixed;
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.formbtn {
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.forminput {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.statsgrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 2px;
}

.cell{
  background-color: #464d5a;
  padding-left: 8px;
  padding-right: 8px;
}
.cell-dark {
  background-color: #333944;
}
